{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="login-pic ">
    <div class="container about">
        <div class="overlay">
            <div class="col p-4">
                <p class="text-wht aw display-3 text-center">Login</p>
                <h1>{% trans "Account Inactive" %}</h1>

                <p>{% trans "This account is inactive." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}