{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="login-pic ">
  <div class="container center-block">
    <div class="overlay">
      <div class="col p-4">
        <p class="text-grn aw display-3 text-center">Login</p>
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a class="text-grn" href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p class=" text-center text-wht">{% blocktrans %}If you have not created an account yet,<br> then please
          <a class="text-grn" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}

        <form class="login aw text-wht" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button text-grn secondaryAction"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
          <button class="light-shadow primaryAction rounded-10 btn-success w-100 p-2 mt-2" type="submit"><i
              class="pr-2 fad fa-sign-in"></i>{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}