{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="empty-pic ">
    <div class="container center-block">
        <div class="overlay ">
            <div class="col p-4 ">

                <h1 class="aw text-wht text-center">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-wht">{% blocktrans %}The password reset link was invalid, possibly because it has
                    already been used.
                    Please request a <a class="text-wht" href="{{ passwd_reset_url }}">new password
                        reset</a>.{% endblocktrans %}</p>
                {% else %}
                {% if form %}
                <form class="aw text-wht" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="aw text-wht btn btn-warning w-100" type="submit" name="action"
                        value="{% trans 'Change Password' %}" />
                </form>
                {% else %}
                <p class="aw text-wht">{% trans 'Your password is now changed.' %}</p>
                {% endif %}
                {% endif %}


            </div>
        </div>
    </div>
</div>











{% endblock %}