{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="empty-pic ">
    <div class="container about">
        <div class="overlay">
            <div class="col p-4">

                <h1 class="aw text-wht text-center">{% trans "Sign Up Closed" %}</h1>

                <p class="aw text-wht">{% trans "We are sorry, but the sign up is currently closed." %}</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}