{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="about-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">About</small>
            </div>
        </div>
    </div>
    <div class="container about">
        <div class="overlay">
            <div class="col p-4">
                <p class="text-wht aw display-3 text-center">Focus Fitness</p>
                <p class="text-wht">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quasi nobis
                    autem, accusamus
                    quo cupiditate temporibus, mollitia maxime, odit illo architecto aliquid obcaecati inventore.
                    Nulla excepturi commodi provident sunt est.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}