{% extends "base.html" %}
{% load static %}


{% block content %}

<div id="about-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">Contact</small>
            </div>
        </div>
    </div>
    <div class="container about">
        <div class="overlay">
            <div class="col p-4">
                <p class="text-wht aw display-3 text-center">Contact Us</p>
                <form method="POST" class="text-wht p4 mb-4 aw">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="aw text-wht btn btn-warning" value="Submit message" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}