{% extends 'base.html' %}
{% load static %}


{% block content %}

<section id="section1">
    <div id="section1-pic">
        <div class="spaces-1"></div>
        <!--Hero Block-->
        <div class="container-hero mx-auto">
            <h1 class="active-size aw text-wht text-center">
                Focus Fitness
            </h1>
            <h2 class="aw text-wht mx-auto text-center">
                Dont Just Live. Thrive!
            </h2>
            <div class="row d-flex justify-content-center">
                <div class=" col-12 d-flex d-flex justify-content-center no-gutters">
                    {% if current_membership == False %}
                    <a class="ripple-surface hero-btn btn btn-danger btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'account_signup' %}" role="button">Join Up</a>
                    {% endif %}

                    {% if current_membership == "Free" %}
                    <a class="ripple-surface hero-btn btn btn-danger btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'memberships:select-membership' %}" role="button">Subcribe</a>
                    {% endif %}

                    {% if current_membership == "Professional" %}
                    <a class="ripple-surface hero-btn btn btn-danger btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'programs:list' %}" role="button">Programs</a>
                    {% endif %}
                </div>
                <div class=" col-6 d-flex d-flex justify-content-center no-gutters">
                    <a class="ripple-surface hero-btn btn btn-primary btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'products' %}" role="button">Shop
                    </a>
                </div>
                <div class=" col-6 d-flex d-flex justify-content-center no-gutters">
                    <a class="ripple-surface hero-btn btn btn-warning btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'blog:list' %}" role="button">Blog</a>
                </div>
                <div class="mb-2 col-12 d-flex d-flex justify-content-center no-gutters">
                    {% if request.user.is_authenticated %}
                    <a class="ripple-surface hero-btn btn btn-success btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'account_logout' %}" role="button">Logout</a>
                    {% else %}
                    <a class="ripple-surface hero-btn btn btn-success btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'account_login' %}" role="button">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--Floating Block-->


</div>

<section id="section2">
    <div class="feature-container card-group">
        <div class="card">
            <img src="{% static 'images/bidman.jpg' %}" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="card-title aw text-center">Programs</h3>
                {% for program in programs %}
                <a class="card-text d-block text-center mont_b text-bk red-hover"
                    href="{% url 'programs:list' %}">{{ program }}</a>
                {% endfor %}

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center aw">Community Blogs</h3>
                <p class="card-text text-center">
                    A friendly bloging community where you can read about other
                    members experances or blog about your own.
                </p>
            </div>
            <img src="{% static 'images/bruce-mars-(friends)800.jpg' %}" class="card-img-top" alt="..." />
        </div>
        <div class="card">
            <img src="{% static 'images/pool-man.jpg' %}" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-center aw">Focus Shop</h3>
                <a class="card-text d-block text-center mont_b text-bk"
                    href="{% url 'products' %}?category=protein">Protiens</a>
                <a class="card-text d-block text-center mont_b text-bk"
                    href="{% url 'products' %}?category=pants,vest,tops">Activewear</a>
                <a class="card-text d-block text-center mont_b text-bk"
                    href="{% url 'products' %}?category=equipment">Accssories</a>
            </div>
        </div>
    </div>

    <!--SubScribe banner-->
    <div {% if current_membership == "Professional" %} hidden {% else %}{% endif %} class="card my-5 py-5">
        <div class="row no-gutters align-items-center">
            <div class="col-md-4 mx-auto" style="max-width: 300px;">
                <img src="{% static 'images/womenblog-crop.jpg' %}" class="card-img bs-2" alt="...">
            </div>

            <div class="col-md-8">
                <div class="card-body ">
                    <h2 class="active-size aw text-center">SUBSCRIBE TODAY</h2>
                    <p class=" mx-auto text-center card-text">Subscribe today and get all the great feature Focus
                        Fitness has to
                        offer. You'll get full access to all the gym works and diets
                        plans, Plus access to the community, Write your own blog post so
                        share you experainces. <span class="aw">All subscribers get 10% all shope items!</span>
                        Just click the Button below to Join.</p>

                    <div class="text-center">
                        <a class="ripple-surface w-50 hero-btn btn btn-success btn-lg aw text-wht border border-secondary bs-2"
                            href="" role="button">Join Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Special offers-->
    <div class="container-fluid mt-4">
        <h2 class="aw active-size text-center">SPECIAL OFFERS</h2>
        <h4 class="aw text-center mb-5">Look your Best. Feel even Better</h4>
    </div>

    <div class="row ">
        {% for items in sale_items %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card w-100 h-100 border-1">
                <a class="mx-auto" href="{% url 'product_detail' items.id %}">
                    <img class="mx-auto card-img-top shop-card-top-img img-fluid" src="{{ items.image.url }}"
                        alt="{{ items.name }}">
                </a>
                <div class="card-body pb-0">
                    <p class="aw text-center">{{ items.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-center">
                    <div class="row ">
                        <div class="col">
                            <p class="lead mb-0  aw">${{ items.price }}</p>
                            {% if items.rating %}
                            <i class="fad fa-star mr-1"></i>
                            <small class="text-muted">{{ items.rating }}</small>
                            {% else %}
                            <small class="text-muted">No rating</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
<section id="section3">
    <!--BLOG-->
    <div class="blog-image">
        <div class="container">
            <h2 class="aw active-size text-center text-wht mt-5 pt-4 pb-4">Feature Blogs</h2>
            <div class="row ">
                {% for blog in feature_blog %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card w-100 h-100 border-1 ">
                        <a class="mx-auto" href="{{ blog.get_absolute_url }}">
                            <img class="mx-auto card-img-top  img-fluid" src="{{ blog.thumbnail.url }}"
                                alt="{{ blog.title|title }}">
                        </a>
                        <div class="card-body pb-0">
                            <p class="aw text-center">{{ blog.title|title }}</p>
                            <a href="{{ blog.get_absolute_url }}"><small
                                    class="text-muted">{{ blog.category }}</small></a>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 rounded-10 text-center">
                            <div class="row ">
                                <div class="col">
                                    <p class=" mb-0  aw">{{ blog.content|safe|truncatechars:100 }}</p>

                                    <i class="fad fa-star mr-1"></i>
                                    <small class="text-muted">{{ items.rating }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>






        </div>
        <div class="spaces-2"></div>
    </div>

    {% endblock content %}

    {% block postload_js %}
    {{ block.super }}

    {% endblock postload_js %}