{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block head_title %} - Cart {% endblock head_title %}

{% block content %}

<div class="container-fluid blog-image">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'products:products' %}" title="Back to Shop">Shop</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <span class="mx-2 mb-0 text-wht"><small class="aw">Cart</small></span>

            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="aw text-wht mb-4 text-center">
                    Shopping Cart
                </h1>
            </div>
        </div>

        <div class="row bg-white rounded-10">
            <div class="col">
                {% if cart_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "cart/includes/cart-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "cart/includes/checkout-btns.html" %}
                        </div>
                    </div>
                    {% for item in cart_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2 center-block">
                            {% include "cart/includes/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "cart/includes/product-info.html" %}
                        </div>
                        <div class="col-8 mb-1">
                            {% include "cart/includes/adjust_cart.html" %}
                        </div>
                        <div class="col-4 order-sm-last">
                            <p class="text-center">@ ${{ item.product.price }}</p>
                        </div>
                        <div class="col-12 text-right order-sm-last">
                            <p class="text-right">${{ item.product.price|calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                <div class="table-responsive rounded-10 d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="aw text-center text-bk">
                            <tr>
                                <th class="d-none d-sm-none d-md-block" scope="col">&nbsp;</th>
                                <th scope="col" class="text-center"><u>Product</u></th>
                                <th scope="col"><u>Price</u></th>

                                <th scope="col" class="text-center"><u>Qty&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adjust Cart</u>
                                </th>
                                <th scope="col" class="text-right"><u>SubTotal</u></th>

                            </tr>
                        </thead>
                        {% for item in cart_items %}
                        <tr class="text-off-wht">
                            <td class="p-md-3 p-0 w-75 d-none d-sm-none d-md-block">
                                {% include "cart/includes/product-image.html" %}
                            </td>
                            <td class="py-3 text-bk">
                                {% include "cart/includes/product-info.html" %}
                            </td>
                            <td class="py-3 text-bk">
                                <p class="text-center">@ ${{ item.product.price }}</p>
                            </td>
                            <td class="aw text-bk py-3 text-center">
                                {% include "cart/includes/adjust_cart.html" %}
                            </td>
                            <td class="aw text-bk py-3 text-right">
                                <p class="text-right">${{ item.product.price|calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="container float-right">
                        <div class="row">
                            <div class="col-7">
                            </div>
                            <div class="col-5 mb-2 text-center">
                                <h2 class="aw text-grn">Order Summary</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 ml-auto">
                                {% include "cart/includes/cart-total.html" %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 ml-auto">
                                {% include "cart/includes/checkout-btns.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="container">
                    <div class="row center-block-col">
                        <h5 class="col-12 empty aw">
                            <a href="{% url 'products:products' %}"><span class="vert-aline"> Your cart is
                                    empty.</span>
                                <span><i class="mb-0 fad fa-cart-plus fa-2x"></i></span>
                            </a>
                        </h5>

                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<script rel="stylesheet" href="{% static 'js/quantityInputs.js' %}"></script>
<script>
    // Update quantity on click
    // Code form Code Institute
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>


{% endblock postloadjs %}