{% extends "base.html" %}
{% load static %}

{% block head_title %} - About {% endblock head_title %}

{% block content %}
<div id="about-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">About</small>
            </div>
        </div>
    </div>
    <div class="container center-block">
        <div class="overlay">
            <div class="col p-4">
                <p class="text-wht aw display-3 text-center">Focus Fitness</p>
                <h1 class="aw font-lrg"><span class="aw font-lrg mr-1 text-primary">Don't</span><span
                        class="aw font-lrg m-1 text-warning">Just</span><span
                        class="aw font-lrg m-1 text-red">Survive.</span><span
                        class="aw font-lrg m-1 text-success">Thrive!</span>
                </h1>
                <p class="text-wht">We are <span class="aw font-lrg"> Focus Fitness.com.</span> Your transformation is
                    our passion. We are your trainer,
                    your nutritionist, your supplment expert, your lifting partner, your support group. We privide the
                    technology, tools, and products you need to burn fat, build muscle, and become your best self. </p>
            </div>

        </div>
    </div>
</div>
{% endblock content %}