{% extends 'base.html' %}
{% load static %}


{% block head_title %} - Fitness {% endblock head_title %}
{% block content %}

<section id="section1">
    <div id="section1-pic">
        <div class="spaces-1"></div>
        <!--Hero Block-->
        <div class="container-hero mx-auto">
            <h1 class="active-size aw text-wht text-center">
                Focus Fitness
            </h1>
            <h2 class="aw text-wht mx-auto text-center">
                Don't Just Survive. Thrive!
            </h2>
            <div class="row d-flex justify-content-center">
                <div class=" col-12 d-flex d-flex justify-content-center no-gutters">
                    {% if current_membership == False %}
                    <a class="ripple-surface hover-shadow hero-btn btn btn-danger btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'account_signup' %}" role="button">Join Up</a>
                    {% endif %}

                    {% if current_membership == "Free" %}
                    <a class="ripple-surface hover-shadow hero-btn btn btn-danger btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'memberships:select-membership' %}" role="button">Subcribe</a>
                    {% endif %}

                    {% if current_membership == "Professional" %}
                    <a class="ripple-surface hover-shadow  hero-btn btn btn-danger btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'programs:list' %}" role="button">Programs</a>
                    {% endif %}
                </div>
                <div class=" col-6 d-flex d-flex justify-content-center no-gutters">
                    <a class="ripple-surface hover-shadow hero-btn btn btn-primary btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'products:products' %}" role="button">Shop
                    </a>
                </div>
                <div class=" col-6 d-flex d-flex justify-content-center no-gutters">
                    <a class="ripple-surface hover-shadow hero-btn btn btn-warning btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'blog:list' %}" role="button">Blog</a>
                </div>
                <div class="mb-2 col-12 d-flex d-flex justify-content-center no-gutters">
                    {% if request.user.is_authenticated %}
                    <a class="ripple-surface hover-shadow hero-btn btn btn-success btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'account_logout' %}" role="button">Logout</a>
                    {% else %}
                    <a class="ripple-surface hover-shadow light-shadow hero-btn btn btn-success btn-lg aw text-wht m-1 border border-white"
                        href="{% url 'account_login' %}" role="button">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--Floating Block-->




<section id="section2">
    <div class="feature-container card-group">
        <div class="card ">
            <a href="{% url 'programs:list' %}" class="ripple-surface">
                <img src="{% static 'images/bidman.jpg' %}" class="custom_img card-img-top" alt="BodyBuilder" />
                <div class="card-body">
                    <h4 class="card-title text-bk aw text-center">Training Programs</h4>
                    {% for program in programs %}
                    <p class="card-text d-block text-center mont_b text-bk">
                        {{ program }}</p>

                    {% endfor %}
                </div>
            </a>
        </div>

        <div class="card d-block d-sm-none d-md-none">
            <a href="{% url 'blog:list' %}" class="ripple-surface">
                <img src="{% static 'images/sven-mieke.jpg' %}" class="custom_img card-img-top" alt="Lady in gym" />
                <div class="card-body">
                    {% include "home/includes/community_blog.html" %}
                </div>
            </a>
        </div>


        <div class="card d-none d-sm-block d-md-block">
            <a href="{% url 'blog:list' %}" class="ripple-surface">
                <div class="card-body">
                    {% include "home/includes/community_blog.html" %}
                </div>
                <img src="{% static 'images/sven-mieke.jpg' %}" class="custom_img card-img-top" alt="Lady in gym" />
            </a>
        </div>

        <div class="card">
            <a href="{% url 'products:products' %}" class="ripple-surface">
                <img src="{% static 'images/pool-man.jpg' %}" class="custom_img card-img-top" alt="Thin man in pool" />
                <div class="card-body">
                    <h4 class="card-title text-bk aw text-center">Focus Shop Categories</h4>
                    <div class="row">
                        {% for categorys in category%}
                        {% if not forloop.counter|divisibleby:2  %}
                        <div class="col-6">
                            <p class="card-text text-center d-block mont_b text-bk">
                                {{ categorys.friendly_name }}</p>
                        </div>
                        {% else %}
                        <div class="col-6">
                            <p class="card-text text-center d-block mont_b text-bk">
                                {{ categorys.friendly_name }}</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!--SubScribe banner-->
    <div {% if current_membership == "Professional" %} hidden {% else %}{% endif %} class="card my-5 py-5">
        <div class="row no-gutters align-items-center">
            <div class="col-md-4 mx-auto max_w_22">
                <img src="{% static 'images/womenblog-crop.jpg' %}" class="card-img bs-2" alt="Women in gym">
            </div>

            <div class="col-md-8">
                <div class="card-body ">
                    <h2 class="active-size aw text-center">SUBSCRIBE TODAY</h2>
                    <p class=" mx-auto text-center card-text">Subscribe today and be welcomed into our community. For
                        just $20 per month, our members gain access to our professional personal trainers that have made
                        a host of training programs ranging from Strength training to dieting with video on how to and
                        gym workouts. New content is updated often and will keep you in tip-top shape. As an added
                        bounces all subscribed members get a discount in the Focus Shop. We believe that being fit in
                        the body keeps a fit mind. So subscribe today and Don’t Just Survive. Thrive!</p>

                    {% if screen_size == True %}
                    <div class="text-center">
                        <a class="ripple-surface w-50 hero-btn btn btn-success btn-lg aw text-wht border border-secondary bs-2"
                            href="{% url 'account_login' %}" role="button">Join Up Today</a>
                    </div>
                    {% else %}
                    <div class="text-center">
                        <a class="ripple-surface w-50 hero-btn btn btn-success btn-lg aw text-wht border border-secondary bs-2"
                            href="{% url 'account_login' %}" role="button">Join Up Today</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--Special offers-->
    <div id="secialOffers" class="container-fluid mt-4">
        <h2 class="aw active-size mt-3 text-center">SPECIAL OFFERS</h2>
        <h4 class="aw text-center mb-5">Look your Best. Feel even Better</h4>
    </div>

    <div class="row row justify-content-center ">
        {% for product in sales_items %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card w-100 h-100 border-1">
                <a class="ripple-surface   mx-auto" href="{% url 'products:product_detail' product.id %}">
                    <img class="mx-auto card-img-top shop-card-top-img img-fluid" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                </a>
                <div class="card-body pb-0">
                    <p class="text-center">{{ product.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-center">
                    <div class="row ">
                        <div class="col">

                            <p class="mb-0  aw">Was <span class="mont_b">$</span><s
                                    class="text-red">{{ product.was_price }}</s></p>

                            <p class="lead mb-0  aw">Now <span class="mont_b">$
                                </span>{{ product.price }}</p>

                            <i class="fas text-ylw fa-lg fa-star mr-1"></i>

                            {% if product.rating > 0 %}
                            <small class="">{{ product.rating|floatformat:1 }}/5</small>
                            {% else %}
                            <small class="">No Ratings</small>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
<section id="section3">
    <!--BLOG-->
    <div class="blog-image">
        <div class="container">
            <h2 class="aw active-size text-center text-wht mt-5 pt-4 pb-4">Feature Blogs</h2>
            <div class="row center-block">
                <div id="index_carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner text-wht">
                        {% for blog in feature_blog %}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                            id="slide{{ forloop.counter }} ">
                            <a href="{{ blog.get_absolute_url }}">
                                <img class="d-block carosel-img mx-auto" src="{{ blog.thumbnail.url }}"
                                    alt="First slide">
                                <div class="row justify-content-center">
                                    <h5 class="text-center text-wht mr-2">{{ blog.title|title }}</h5><br>
                                </div>
                            </a>
                            <div class="row justify-content-center">
                                <a class="{% if blog.category  == 'Dieting' %} text-primary 
                                {% elif blog.category  == 'Recovery' %} text-warning 
                                {% elif blog.category  == 'Endurance' %} text-info
                                {% elif blog.category  == 'Covid-19' %} text-danger 
                                {% elif blog.category  == 'Members' %} text-light 
                                {% else %} text-success {% endif %}" href="{{ blog.get_absolute_url }}"><i
                                        class="mx-2 fad fa-tags"></i>
                                    <small>{{ blog.category }}</small>
                                </a>
                                <div class="text-center col-2"><span><i class="text-grn fad fa-eye"></i>
                                        {{ blog.get_view_count }}</span></div>
                                <div class="text-center col-2"><span><i class="text-primary fad fa-thumbs-up"></i>
                                        {{ blog.get_like_count }}</span><br></div>
                                <div class="text-center col-2"><span><i class="text-ylw fad fa-comments-alt"></i>
                                        {{ blog.get_comment_count }}</span></div>
                            </div>

                        </div>

                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#index_carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#index_carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="spaces-2"></div>
    </div>
</section>
{% endblock content %}

{% block postload_js %}
{{ block.super }}

{% endblock postload_js %}


</div>