{% extends "base.html" %}
{% load static %}

{% block head_title %} - {{ user.username|title }} | Subscriptions {% endblock head_title %}

{% block content %}

<div id="profile-pic">
    <div class="container profile">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'profiles:profile' %}">Dashboard</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">Subscriptions</small>
            </div>
        </div>
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center">Subscriptions</h4>
            </div>
        </div>
        <div class="container">
            <div class="row mt-3 justify-content-center mx-auto w-50 h-100 bg-black-a rounded-10">
                {% if user_subscription != None %}
                <div class="div">
                    <p class="text-wht text-center">With this membership, you get 12% off the price of any item in
                        the <a href="{% url 'products:products' %}">shop.</a></p>
                </div>
                <div class="my-2 aw text-wht col-md-6 col-12 ">Current Membership:</div>
                <div class="my-2 text-wht col-md-6 col-12 ">
                    {{ user_membership.membership.membership_type }}</div>
                <div class="my-2 aw text-wht col-md-6 col-12">Member since:</div>
                <div class="my-2 text-wht col-md-6 col-12 ">
                    {{ user_subscription.get_created_date }}
                </div>
                {% if user_subscription.active != False %}
                <div class="my-2 aw text-wht col-md-6 col-12  ">Next payment due:</div>
                <div class="my-2 text-wht col-md-6 col-12 ">
                    {{ user_subscription.get_next_billing_date }}</div>
                <div class="my-2 row justify-content-center">
                    <a class="aw btn btn-danger" href="{% url 'profiles:cancel_sub' %}">Cancel Subscription</a>
                </div>
                {% endif %}
                {% else %}
                <div class="text-wht col-12 mt-4 text-center ">
                    <p class="text-wht">You don't have any membership subscription yet.<br>If you would like to see
                        them, you can check them out
                        <a href="{% url 'memberships:select-membership' %}">here.</a>
                    </p>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}