{% extends "base.html" %}
{% load static %}

{% block head_title %} - {{ user.username|title }} | Shipping Details {% endblock head_title %}

{% block content %}

<div id="profile-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'profile' %}">Dashboard</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">Shipping Details</small>
            </div>
        </div>
    </div>
    <div class="container profile">

        <div class="col p-4">
            <h1 class="text-ylw aw text-center">Shipping Details</h1>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-6 col-12  bg-black-a rounded-15">

                    <div class="profile-overlay">
                        <form method="POST" action="" class=" my-2" id="shipping-update-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="  dark-btn uppercase col-12 aw rounded-10 px-4 py-2">Update
                                Shipping Details</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}