{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="profile-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">Dashboard</small>
            </div>
        </div>
    </div>
    <div class="container profile pb-4">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-primary aw display-4 text-center"> Dashboard</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12  bg-black-a rounded-15">
                    <h4 class="aw text-wht text-center">{{ user.username|title }}</h4>
                    <h6 class="aw text-wht text-center">{{ user.email }}</h6>
                    <div class="profile-overlay">
                        <ul>
                            <li class="pt-2">
                                <a class="aw text-wht text-center" href="{% url 'account_reset_password' %}">
                                    Update Password
                                </a>
                            </li>
                            <li class="pt-2">
                                <a class="aw text-wht text-center" href="{% url 'profile_details' %}">
                                    Shipping Details
                                </a>
                            </li>
                            <li class="pt-2">
                                <p class="aw text-wht">Subscription:
                                    <a href="{% url 'profile_subscriptions' %}">
                                        {{ user_membership.membership.membership_type }}
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-12  bg-black-a rounded-15">
                    <h4 class="aw text-wht text-center">My Blogs</h4>
                    <div class="profile-overlay">
                        <ul>
                            {% if blog %}
                            {% for blog in user_blog %}
                            <li>
                                <p class="text-wht text-center">
                                    <a href="{{ blog.get_absolute_url }}">{{ blog.title|title }}</a><br>
                                    <div class="row justify-content-center">
                                        <div class="col-4"><small class="text-wht"><i class="text-grn fad fa-eye"></i>
                                                {{ blog.get_view_count }}</small>
                                        </div>
                                        <div class="col-4"><small class="text-wht"><i
                                                    class="text-primary fad fa-thumbs-up"></i>
                                                {{ blog.get_like_count }}</small>
                                        </div>
                                        <div class="col-4"><small class="text-wht"><i
                                                    class="text-ylw fad fa-comments-alt"></i>
                                                {{ blog.get_comment_count }}</small>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-6"><small class="text-wht"><i class="fad fa-tags"></i>
                                                {{ blog.category }}</small>
                                        </div>

                                        <div class="col-6"><small class="text-wht"><i class="fad fa-calendar-check"></i>
                                                {{ blog.publish_date|date:"SHORT_DATE_FORMAT" }}</small>
                                        </div>
                                    </div>

                                </p>
                            </li>
                            {% endfor %}
                            {% else %}
                            <p class="aw text-wht">You hanv't writen any blogs yet</p>

                            <p class="text-wht">
                                You blog can be on anything gym related, It doesnt have to be on giving others admice,
                                It can be on your experience or how you find a product or if you are looking for advice.
                                Our Pro Trainer and Bloggers are always reading members blog to see if they can help or
                                give advice. Use catogery Members.<br>
                                <a href="{% url 'blog:create' %}">Click Here</a> to get started.

                            </p>

                            {% endif %}
                        </ul>

                    </div>
                </div>
                <div class="col-md-4 col-12  bg-black-a rounded-15">

                    <h4 class="aw text-wht text-center">Order History</h4>
                    <!--This the place for for orsers history -->
                    <div class="profile-overlay border border-white">
                        {% for order in orders %}
                        <div id="dash_history" class="p-2 table-responsive">
                            <table class="table table-sm table-borderless text-wht">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date|date:"SHORT_DATE_FORMAT" }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                <li class="small">
                                                    {% for item in order.lineitems.all %}
                                                    {{ item.product.name}} x {{ item.quantity }}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>{{ order.grand_total }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}