{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-shop ">
    <div class="container-fluid  blog-image">
        <div class="container">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="display-4 aw text-wht p-3">Products</h2>

                </div>
            </div>

            <div class="row justify-content-center">

                <ul class="nav aw text-bk">
                    <li class="nav-item dropdown ">
                        <a class="logo-font font-weight-bold nav-link text-grn mr-5" href="#" id="all-products-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Products
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                            <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By
                                Rating</a>
                            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By
                                Category</a>
                            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="activewear-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Activewear & EQP
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="activewear-link">
                            <a href="{% url 'products' %}?category=pants,vest,tops" class="dropdown-item">Activewear</a>
                            <a href="{% url 'products' %}?category=equipment" class="dropdown-item">Equipment</a>
                            <a href="{% url 'products' %}?category=pants" class="dropdown-item">Pants</a>
                            <a href="{% url 'products' %}?category=vest" class="dropdown-item">Vests</a>
                            <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                            <a href="{% url 'products' %}?category=jacket" class="dropdown-item">Jackets</a>
                            <a href="{% url 'products' %}?category=equipment,pants,vests,tops,jacket"
                                class="dropdown-item">All</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="supplements-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Supplements
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="supplements-link">
                            <a href="{% url 'products' %}?category=protein" class="dropdown-item">Proteins</a>
                            <a href="{% url 'products' %}?category=pre_workout" class="dropdown-item">Pre-Workouts</a>
                            <a href="{% url 'products' %}?category=bcaa" class="dropdown-item">BCAA</a>
                            <a href="{% url 'products' %}?category=vitamins" class="dropdown-item">Multi-Vitamins</a>
                            <a href="{% url 'products' %}?category=protein,pre-workout,bcaa,vitamins"
                                class="dropdown-item">All
                                Supplements</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-ylw" href="#" id="specials-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Special Offers
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                            <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                            <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                            <a href="{% url 'products' %}?category=new_arrivals,deals,clearance"
                                class="dropdown-item">All
                                Specials</a>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="w-50">
            {% for c in categories %}
            <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                <span
                    class="p-2 mt-2 badge badge-white text-black rounded-1 border border-dark">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}

            <div class="col-12 mx-auto d-flex justify-content-center"">
                    <form method=" GET" action="{% url 'products' %}" class=" form-inline my-2 my-lg-0 pl-2">
                <input class="ml-3 aw" type="text" name="q" placeholder="Search Shop" aria-label="Search" />
                <button class="aw btn btn-outline-text-light my-2 my-sm-0" type="submit">
                    <span class="icon">
                        <i class="text-wht fas fa-search fa-lg"></i>
                    </span>
                </button>
                </form>
            </div>

            <div class="row d-flex justify-content-around">
                <div class="product-containter col-10 offser-1">
                    <div class="row mt-1 mb-2">
                        <div
                            class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="aw sort-select-wrapper w-md-25 w-sm-100">
                                <select id="sort-selector"
                                    class="custom-select custom-select-sm rounded-2 border border-{% if sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if sorting == 'None_None' %}selected{% endif %}>Sort
                                        by...
                                    </option>
                                    <option value="price_asc" {% if sorting == 'price_asc' %}selected{% endif %}>
                                        Price
                                        (low to high)</option>
                                    <option value="price_desc" {% if sorting == 'price_desc' %}selected{% endif %}>
                                        Price
                                        (high to low)</option>
                                    <option value="rating_asc" {% if sorting == 'rating_asc' %}selected{% endif %}>
                                        Rating (low to high)</option>
                                    <option value="rating_desc" {% if sorting == 'rating_desc' %}selected{% endif %}>
                                        Rating (high to low)</option>
                                    <option value="name_asc" {% if sorting == 'name_asc' %}selected{% endif %}>Name
                                        (A-Z)</option>
                                    <option value="name_desc" {% if sorting == 'name_desc' %}selected{% endif %}>
                                        Name
                                        (Z-A)</option>
                                    <option value="category_asc" {% if sorting == 'category_asc' %}selected{% endif %}>
                                        Category (A-Z)</option>
                                    <option value="category_desc"
                                        {% if sorting == 'category_desc' %}selected{% endif %}>
                                        Category (Z-A)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-md-first">
                            <p class=" mt-3 text-center text-wht text-md-left">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small "><a href="{% url 'products' %}">All Products </a> | </span>
                                {% endif %}
                                {{ products|length }} Products{% if search_term %} found for
                                <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="row ">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card w-100 h-100 border-1">

                                {% if product.in_stock == True %}
                                {% if product.image %}
                                <a class="ripple-surface mx-auto" href="{% url 'product_detail' product.id %}">
                                    <img class="mx-auto card-img-top shop-card-top-img img-fluid"
                                        src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="ripple-surface card-img-top shop-card-top-img img-fluid"
                                        src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                {% else %}
                                <a class="mx-auto" href="">
                                    <img class="ripple-surface mx-auto card-img-top shop-card-top-img img-fluid"
                                        src="{% static 'images/out-of-stock.png' %}" alt="{{ product.name }}">
                                </a>
                                <div class="card-body pb-0">
                                    <p class="aw text-center">{{ product.name }}</p>
                                </div>

                                {% endif %}
                                {% if product.in_stock == True %}
                                <div class="card-footer bg-white pt-0 border-0 text-center">
                                    <div class="row ">
                                        <div class="col">
                                            <p class="lead mb-0  aw">${{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted"
                                                    href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i
                                                        class="fad fa-tags"></i>&nbsp;{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                            <i class="fad fa-star mr-1"></i>
                                            <small class="text-muted">{{ product.rating }}</small>
                                            {% else %}
                                            <small class="text-muted">No rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <p class="aw text-center">Sorry Out Of Stock</p>

                                {% endif %}

                            </div>
                        </div>
                        <!--To make sure there is a hr ling under each card on all screens-->
                        {% if forloop.counter|divisibleby:1 %}
                        <div class=" col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ripple-surface btt-button shadow-sm rounded-15 border border-black bg-dark-a">
        <a class="btt-link d-flex h-100 bg-black rounded-15">
            <i class="fad fa-hand-point-up fa-lg text-wht mx-auto my-auto"></i>
        </a>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function (e) {

        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this)
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock postloadjs %}