/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,600;1,400&display=swap");

#container {
    background: url(/static/images/george-pagan.small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    min-width: 980px;
    padding: 0;
}

#header {
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(245, 245, 245);
}

body::before {
    display: block;
    line-height: 35px;
    text-align: center;
    font-family: "audiowide", sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 1);
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 400;
    font-size: 24px;
    font-family: "audiowide", sans-serif;
    color: rgb(251, 252, 250);
}

h1 {
    font-family: "Audiowide", sans-serif;
    color: rgb(48, 48, 48);
}

h2 {
    color: rgb(0, 0, 0);
}

p,
ul,
li {
    color: rgb(0, 0, 0);
    font-size: medium;
}

#content-main {
    font-family: "Montserrat", sans-serif;
}

div.breadcrumbs {
    background: rgba(0, 0, 255, 0.61);
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: rgb(196, 220, 232);
    text-align: left;
}

a:link,
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.module h2,
.module caption,
.inline-group h2 {
    font-size: 13px;
    text-align: left;
    background: rgba(0, 0, 255, 0.61);
    color: rgb(255, 255, 255);
}



.app-blog {
    background-color: rgb(226, 114, 124);
}

.app-products {
    background-color: rgba(106, 192, 150, 1);
}

.app-checkout {
    background-color: rgb(106, 192, 150);
}

.app-memberships {
    background-color: rgba(229, 206, 33, 1);
}

.app-programs {
    background-color: rgba(229, 206, 33, 1);
}

.app-account {
    background-color: rgb(66, 164, 250);
}

.app-auth {
    background-color: rgb(66, 164, 250);
}

.app-socialaccount {
    background-color: rgb(66, 164, 250);
}

.app-sites {
    background-color: rgb(66, 164, 250);
} */
