#profile-pic {
    background: url(/static/images/delaney-van-weights.jpg) no-repeat center center fixed;
    /* background-color: #fff; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-overlay {
    position: relative;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 0;
}


.profile {
    min-height: 83vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.thongs {
    height: 500px;
    width: 500px;

}