@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,600;1,400&display=swap");

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  max-width: 600px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.aw {
  font-family: "audiowide", sans-serif;
}

.mont_r {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}

.mont_b {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
}

.text-bk {
  color: rgb(0, 0, 0);
}

.text-wht {
  color: rgb(252, 252, 252);
}

.text-grn {
  color: rgb(51, 169, 111);
}

.text-red {
  color: rgb(231, 49, 63);
}

.text-ylw {
  color: rgb(229, 206, 33);
}

.bg-black {
  background-color: rgb(0, 0, 0);
}

.bg-black-a {
  background-color: rgba(0, 0, 0, 0.6);
}

.bs-5 {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.bs-2 {
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.spaces-1 {
  height: 1rem;
}

.spaces-2 {
  height: 1.5rem;
}

.spaces-3 {
  height: 4rem;
}

.rounded-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.rounded-15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.headings-center {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*ICON from Bulma*/
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

/*RIPPLE EFFECT*/

.ripple-surface {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.ripple-surface span {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.685);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: ripple 700ms;
  opacity: 0;
  -webkit-animation: ripple 700ms;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(10);
  }
}

#cart {
  position: absolute;
  top: -0.3rem;
  right: 15px;
  z-index: 9999999;
  font-size: 1.35rem;
}


/* TopNav*/
.navbar {
  padding: 0px;

}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.25rem;
  margin: 2%;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-toggler-icon {
  border: 1px white solid;
}

nav {
  background-color: rgba(0, 0, 0, 1);
}

.nav-link {
  display: inline !important;
  padding: 0.5rem 1rem;
}

#topnav {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-nav .show>.nav-link {
  color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

#design2 {
  height: 86px;
  width: 170px;
}

.dropdown-menu {
  text-align: center;
}

.dropdown-item {
  display: inline;
}

/*Index - Section 1 */

#section1-pic {
  position: relative;
  top: 0px;
  height: 100vh;
  background: url(/static/images/hipcravo-index-unsplash.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  /* background-color: aqua; */
}

.container-hero {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 7rem;
  margin-bottom: 8rem;

  height: fit-content;
  width: 70%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#hero-heading {
  font-size: 8vw;
}

.active-size {
  font-size: 7.5vw;
}

.hero-btn {
  height: 3rem;
  min-width: 8rem;
}

.card {
  border: none;
}

.blog-card .product-cards {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  max-width: 15rem;
}

/*Index- Section 2*/
#section2 {
  /* background-image: linear-gradient(white 50%, black); */
  background-color: #fff;
  height: fit-content;
}

#subscribe-text {
  font-size: 5vw;
}

#special-offer-text {
  font-size: 5vw;
}

.feature-container {
  position: relative;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -5rem;
  -webkit-box-shadow: 0px 9px 24px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 24px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 24px 6px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.sub-banner {
  background-color: white;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-item-size {
  object-fit: scale-down;
  height: 200px;
  width: auto;
}

/* Index - section3 */
#section3 {
  height: fit-content;
}

.blog-image {
  background: url(/static/images/evan-wise-blog-bg.jpg) no-repeat center center fixed;
  /* background-color: #fff; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*About Page*/
.about {
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-pic {
  background: url(/static/images/delaney-van-whiets.jpg) no-repeat center center fixed;
  /* background-color: #fff; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*contact page*/

.contact {
  height: fit-content;
}

.overlay {
  position: relative;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 0;
}

#contact-pic {
  height: fit-content;
  background: url(/static/images/delaney-van-whiets.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* BLOG PAGES*/
.blog-container {
  max-width: 620px;

}

#blog-pic {
  height: fit-content;
  background: url(/static/images/evan-wise-blog-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blog-content {
  background-color: rgb(0, 0, 0);
  width: 620px;
}

/*SHOP*/
.product-containter {

  height: fit-content;
  background: url(/static/images/evan-wise-blog-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.product-overlay {
  background-color: rgba(255, 255, 255, 1);
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.checkout-container {
  height: 100vh;

  background: url(/static/images/george-pagan-iii-gym-tag.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.empty {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.block-4-image {
  width: 10rem;
}

.cart-actions {
  display: flex;
  flex-direction: column;
}

#plus {
  color: rgb(51, 169, 111);
}

#plus:hover {
  background-color: rgb(51, 169, 111);
  color: rgb(255, 255, 255);
}

#minus {
  color: rgb(229, 206, 33);
}

#minus:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(229, 206, 33);
}

#trash:hover {
  background-color: rgb(231, 49, 63);
  color: rgb(255, 255, 255);
}

#trash {
  color: rgb(231, 49, 63);
}

.shop-container {
  background: url(/static/images/george-pagan-iii-gym-tag.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Footer */
.footer-image {
  background: url(/static/images/evan-wise-blog-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.feet-bg {
  font-weight: 600;
  background-image: linear-gradient(-45deg,
      rgb(27, 240, 8),
      rgb(250, 95, 95),
      rgb(94, 102, 241));
  color: transparent;
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: foot-animation 6s ease-in-out infinite alternate;
  -webkit-animation: foot-animation 6s ease-in-out infinite alternate;
}

@keyframes foot-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}