{% extends "admin/base_site.html" %}
{% load static %}
{% block branding %}
<h1 id="head">
    <img src="{% static 'images/logo.png' %}" class="brand_img" alt="Focus Fitness" height="50" width="100">

</h1>
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block extrastyle %}
<style type="text/css">
    body::before {
        display: block;
        line-height: 35px;
        text-align: center;
        font-family: "audiowide", sans-serif;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.548);
        content: "{{ ENVIRONMENT_NAME }}";

    }
</style>

{% endblock extrastyle %}