<div class="row justify-content-center pb-3">
    <div class="col-md-6 col-sm-12">
        <a href="{% url 'products' %}" class="w-100 text-wht border-bk btn btn-warning">
            <span class="icon">
                <i class="fad fa-store"></i>
            </span>
            <span class="aw text-center">Keep Shopping</span>
            </span>
        </a>
    </div>

    <div class="col-md-6 col-sm-12">
        <a href="{% url 'checkout' %}" class="w-100 border-bk btn btn-success">

            <span class="aw text-center">Checkout</span>
            </span>
            <span class="icon">
                <i class="fad fa-lock-alt"></i>
            </span>
        </a>
    </div>

</div>