<form class=" mx-2 form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-append rounded-lg">
                <button class="border-bk rounded-lg increment-qty btn btn-sm btn-success"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span class="text-off-wht">
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="rounder-lg form-control form-control-sm qty_input" type="number" name="quantity"
                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-prepend rounded-lg">
                <button class=" border-bk rounded-lg decrement-qty  btn btn-sm btn-danger"
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span class="text-off-wht ">
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="pl-2 float-left btt-link update-link"><i class="fad fa-cart-plus text-primary"></i><small
        class="black-hover aw text-primary">&nbsp;Update</small></a>
<a class="pr-2 btt-link remove-item text-danger float-right " id="remove_{{ item.item_id }}"
    data-product_size="{{ item.size }}"><small class="aw text-red">Remove
    </small><i class=" fad fa-trash-alt fa-sm text-red"></i></a>