{% load static %}
<a class="pr-2 btt-link remove-item text-danger float-right " id="remove_{{ item.item_id }}"
    data-product_size="{{ item.size }}"><i class=" fad fa-trash-alt fa-lg text-red"></i>
</a>

{% block postloadjs %}
<script>
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock postloadjs %}