{% extends "base.html" %}
{% load static %}
{% load user_agents %}

{% block head_title %} - All Blogs {% endblock head_title %}
{% block content %}


<!-- Page Content -->
<div class="blog-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% if user.is_authenticated %}
                <a class="text-wht aw pl-2" href="{% url 'blog:create' %}">Create</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% endif %}
                <small class="text-wht aw">Blogs</small>
            </div>
        </div>
    </div>
    <div class="row mx-4">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <div class="ovalpha-overlay">
                <h1 class="my-4 aw text-red text-center">Featured Blogs</h1>
            </div>
            <div id="feature_carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner text-wht">
                    {% for blog in feature_blog %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                        id="slide{{ forloop.counter }} ">

                        <a class="" href="{{ blog.get_absolute_url }}">
                            <img class="d-block carosel-img mx-auto" src="{{ blog.thumbnail.url }}" alt="First slide">
                            <div class="row justify-content-center">
                                <h5 class="text-center text-wht">{{ blog.title|title }}</h5>
                            </div>
                        </a>
                        <div class="row w-100 justify-content-center">
                            <a href="{{ blog.get_absolute_url }}"><i class="mx-2 text-wht fad fa-tags"></i><small
                                    class="text-muted">{{ blog.category }}</small>
                            </a>
                            <div class="text-center col-2"><span><i class="text-grn fad fa-eye"></i>
                                    {{ blog.get_view_count }}</span></div>
                            <div class="text-center col-2"><span><i class="text-primary fad fa-thumbs-up"></i>
                                    {{ blog.get_like_count }}</span><br></div>
                            <div class="text-center col-2"><span><i class="text-ylw fad fa-comments-alt"></i>
                                    {{ blog.get_comment_count }}</span></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#feature_carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#feature_carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="ovalpha-overlay rounded-10">
                <h2 class="my-4 aw text-primary text-center">Blogs</h2>
            </div>

            {% for blog in all_blogs %}
            {% if blog.featured != True %}
            {% if blog.category != 'Members' %}
            {% if screen_size == True %}
            <a href="{{ blog.get_absolute_url }}">
                <div class="card mb-3" style="max-width: 830px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 bg-black">
                            <img src="{{ blog.thumbnail.url }}" class="card-img blog-list-img" alt="...">
                        </div>
                        <div class="col-md-8 bg-black">
                            <div class="card-body bg-black">
                                <h5 class="card-title text-center text-wht">{{ blog.title|title }}</h5>
                                <small class="text-muted">{{ blog.category }}</small>
                                <small class="card-text text-wht">{{ blog.content|safe|truncatechars:100 }}</small>
                                <span class="text-mute float-right"><small class="text-muted"> Posted:
                                        {{ blog.publish_date|timesince }}</small></span>
                                <div class="row w-100 justify-content-around">
                                    <div class="text-center text-wht col-2"><span><i class="text-grn fad fa-eye"></i>
                                            {{ blog.get_view_count }}</span></div>
                                    <div class="text-center text-wht col-2"><span><i
                                                class="text-primary fad fa-thumbs-up"></i>
                                            {{ blog.get_like_count }}</span><br></div>
                                    <div class="text-center text-wht col-2"><span><i
                                                class="text-ylw fad fa-comments-alt"></i>
                                            {{ blog.get_comment_count }}</span></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </a>
            {% else %}
            {% if not forloop.counter|divisibleby:2  %}
            <a href="{{ blog.get_absolute_url }}">
                <div class="card mb-3" style="max-width: 830px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 bg-black">
                            <img src="{{ blog.thumbnail.url }}" class="card-img blog-list-img"
                                alt="{{ blog.title|title }}">
                        </div>
                        <div class="col-md-8 bg-black">
                            <div class="card-body bg-black">
                                <h5 class="card-title text-center text-wht">{{ blog.title|title }}</h5>
                                <small class="text-muted">{{ blog.category }}</small>
                                <small class="card-text text-wht">{{ blog.content|safe|truncatechars:100 }}</small>
                                <span class="text-mute float-right"><small class="text-muted"> Posted:
                                        {{ blog.publish_date|timesince }}</small></span>
                                <div class="row w-100 justify-content-around">
                                    <div class="text-center text-wht col-2"><span><i class="text-grn fad fa-eye"></i>
                                            {{ blog.get_view_count }}</span></div>
                                    <div class="text-center text-wht col-2"><span><i
                                                class="text-primary fad fa-thumbs-up"></i>
                                            {{ blog.get_like_count }}</span><br></div>
                                    <div class="text-center text-wht col-2"><span><i
                                                class="text-ylw fad fa-comments-alt"></i>
                                            {{ blog.get_comment_count }}</span></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </a>
            {% else %}
            <a href="{{ blog.get_absolute_url }}">
                <div class="card mb-3" style="max-width: 830px;">
                    <div class="row no-gutters">

                        <div class="col-md-8 bg-black">
                            <div class="card-body bg-black">
                                <h5 class="card-title text-center text-wht">{{ blog.title|title }}</h5>
                                <small class="text-muted">{{ blog.category }}</small>
                                <small class="card-text text-wht">{{ blog.content|safe|truncatechars:100 }}</small><span
                                    class="text-mute float-right"><small class="text-muted"> Posted:
                                        {{ blog.publish_date|timesince }}</small></span>
                                <div class="row w-100 justify-content-around">
                                    <div class="text-center text-wht col-2"><span><i class="text-grn fad fa-eye"></i>
                                            {{ blog.get_view_count }}</span></div>
                                    <div class="text-center text-wht col-2"><span><i
                                                class="text-primary fad fa-thumbs-up"></i>
                                            {{ blog.get_like_count }}</span><br></div>
                                    <div class="text-center text-wht col-2"><span><i
                                                class="text-ylw fad fa-comments-alt"></i>
                                            {{ blog.get_comment_count }}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 bg-black">
                            <img src="{{ blog.thumbnail.url }}" class="card-img blog-list-img"
                                alt="{{ blog.title|title }}">
                        </div>
                    </div>
                </div>
            </a>
            {% endif%}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div id="blog-side-card" class="card my-4">

                <div class="card-body mx-auto ">
                    <div class="input-group">
                        <form method="GET" action="{% url 'blog:search' %}" class="form-inline my-2 my-lg-0">
                            <input class="aw form-control mr-sm-2" name="s" type="search" placeholder="Search Blogs"
                                aria-label="Search">
                            <button class="ripple-surface aw btn btn-success my-2 my-sm-0" type="submit">Go!</button>
                        </form>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="aw text-center card-header text-wht bg-green">Categories</h5>
                    <div class="card-body bg-black-a">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for item in category_menu %}
                                    <a class=" dropdown-item aw text-wht"
                                        href="{% url 'blog:category' item %}">{{ item }}</a>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <h5 class="aw text-center card-header text-wht bg-warning">Member Blogs</h5>
                    <div class="card-body bg-black-a">
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-unstyled mb-0">
                                    {% for blog in all_blogs %}
                                    {% if blog.category == 'Members' %}
                                    <small class="text-wht"><i class="fad fa-user mr-2"></i>
                                        {{ blog.author|title }}</small>
                                    <a href="{{ blog.get_absolute_url }}">
                                        <p class="card-title text-center text-wht">{{ blog.title|title }}</p>
                                    </a>
                                    <div class="row justify-content-around">
                                        <div class="text-center text-wht col-md-2"><span><i
                                                    class="text-grn fad fa-eye"></i>
                                                {{ blog.get_view_count }}</span></div>
                                        <div class="text-center text-wht col-md-2"><span><i
                                                    class="text-primary fad fa-thumbs-up"></i>
                                                {{ blog.get_like_count }}</span><br></div>
                                        <div class="text-center text-wht col-md-2"><span><i
                                                    class="text-ylw fad fa-comments-alt"></i>
                                                {{ blog.get_comment_count }}</span></div>
                                    </div>
                                    <hr>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Side Widget -->
            </div>



        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    {% endblock content %}