{% extends "base.html" %}
{% include "static" %}

{% block content %}
<div class="blog-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">Blogs</small>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container center-block-col">
        <div class="row">
            <div class="col-12">
                <h1 class="aw text-wht">{{ view_type|title }} Blog</h1>
                <form action="" method="POST" class="aw text-wht" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy}}
                    <button type="submit" class="ripple-surface w-50 mb-4 btn btn-success"><img class="mr-3"
                            src="https://img.icons8.com/fluent/32/000000/blog.png" />{{ view_type|title }} Blog</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--If a user trys to edit or created a post with out being authenticated-->
{% else %}
<div id="about-pic">
    <div class="container center-block">
        <div class="overlay">
            <div class="col p-4">
                <h1 class="text-wht aw text-center">Please Login</h1>
                <a class="aw btn btn-success w-100" href="{% url 'account_login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}