{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block  content %}
<div class="empty-pic">
    <div class="container p-5">
        <div class="login-overlay mx-auto">
            <div class="row login-row">
                <div class="col-12 p-4">
                    <div class="allauth-form-inner-content">

                        <h1 class="aw text-center display-4">{% trans "Account Inactive" %}</h1>
                        <p class="aw text-center">{% trans "This account is inactive." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}