{% extends "base.html" %}
{% load static %}


{% block content %}

{% if request.user.is_authenticated %}
<div id="profile-pic">
    <div class="container profile">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center">Programs</h4>

            </div>
        </div>
        <div class="container">
            <br>
            {% for object in object_list  %}
            {% if not forloop.counter|divisibleby:2  %}
            <div class="  mx-auto row featurette profile-overlay" style="max-width: 40rem;">
                <div class="col-md-7 d-flex align-items-center text-wht">
                    <a href="{{ object.get_absolute_url }}">
                        <h5 class="text-center aw card-title text-wht">{{ object }}</h5>
                        <p class="text-center card-text text-wht">{{ object.description|truncatechars:50 }}</p>
                    </a>
                </div>
                <div class="col-md-5 d-none d-md-block ">
                    <img src="{{ object.thumbnail.url }}" class="card-img program-card" alt="...">
                </div>
            </div>

            <br>

            {% else %}
            <div class="row  mx-auto featurette  profile-overlay" style="max-width: 40rem;">
                <div class="col-md-5 d-none d-md-block">
                    <img src="{{ object.thumbnail.url }}" class="card-img program-card" alt="...">
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <a href="{{ object.get_absolute_url }}">
                        <h5 class="text-center aw card-title text-wht">{{ object }}</h5>
                        <p class="text-center card-text text-wht">{{ object.description|truncatechars:50 }}</p>
                    </a>
                </div>
            </div>
            <br>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

{% endblock content %}