{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid bg-black fixed-top crumbs">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
            <span class="mx-2 mb-0 text-wht">/</span>
            <strong class="text-wht aw">Dashboard</strong>
        </div>
    </div>
</div>
<div id="profile-pic">
    <div class="container profile">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center">{{ object.title }}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12  bg-black-a rounded-15">
                    {% for workout in object.workouts %}
                    <a href="{{ workout.get_absolute_url }}">
                        <h5 class="aw text-wht text-center">{{ workout.title }}</h5>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}