{% extends "base.html" %}


{% block content %}
<div class="container-fluid bg-black">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
            <span class="mx-2 mb-0 text-wht">/</span>
            <strong class="text-wht aw">Blogs</strong>
            {% if request.user.is_authenticated %}
            <span class="mx-2 mb-0 text-wht">/</span>
            <a class="text-wht aw pl-2" href="{% url 'blog:create' %}">Create Blog</a>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container-fluid blog-pic">
    <div class="row mx-4">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <div class="overlay">
                <h1 class="my-4 aw text-wht text-center">Featured Blogs</h1>
            </div>

            {% for blog in object_list %}
            {% if blog.featured == True %}
            <!-- Blog Post -->
            <a href="{{ blog.get_absolute_url }}" class="text-bk">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ blog.thumbnail.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="aw text-center card-title">{{ blog.title|title }}</h2>
                        <a href="{% url 'blog:category' blog.category %}"><small class="text-muted">Category:
                                {{ blog.category }}</small></a>
                        <p class="card-text">{{ blog.content|safe|truncatechars:200 }}</p>
                        <div class="row m-1">
                            <div class="col-md-4 col-sm-12"><span><i class="fad fa-eye"></i>
                                    {{ blog.get_view_count }}</span></div>
                            <div class="col-md-4 col-sm-12"><span><i class="fad fa-thumbs-up"></i>
                                    {{ blog.get_like_count }}</span><br></div>
                            <div class="col-md-4 col-sm-12"><span><i class="fad fa-comments-alt"></i>
                                    {{ blog.get_comment_count }}</span></div>
                        </div>
            </a>
        </div>
        <div class="card-footer text-muted">
            Posted on: {{ blog.publish_date}} by <strong>{{ blog.author|title }}</strong>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <!-- 
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>

<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="aw card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                    <button class="aw  btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="aw card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% for item in category_menu %}
                        <a class="dropdown-item aw" href="{% url 'blog:category' item %}">{{ item }}</a>
                        {% endfor %}

                    </ul>
                </div>

            </div>
        </div>
    </div>
    {% for blog in object_list %}
    {% if blog.featured != True %}
    <!-- Side Widget -->
    <div class="card my-4 ">
        <h5 class="aw card-header text-bk text-center">All Blogs</h5>
        <div class="card-body ">
            <a class="text-bk" href="{{ object.get_absolute_url }}">
                <h5 class="aw text-center ">{{ blog.title|title }}</h5>
                <a href="{% url 'blog:category' blog.category %}"><small class="text-muted">Category:
                        {{ blog.category }}</small></a>
                <p class="text-bk">{{ blog.content|truncatechars:50 }}</p>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

</div> -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}