{% extends "base.html" %}


{% block content %}
{% if category_blogs %}
<div class="container-fluid blog-pic">
    <div class="row mx-4">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <div class="overlay">
                <h1 class="my-4 aw text-wht text-center">{{ category }} Blogs</h1>
            </div>
            {% for blog in category_blogs %}
            <!-- Blog Post -->
            <a href="{{ blog.get_absolute_url }}" class="text-bk">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ blog.thumbnail.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="aw card-title">{{ blog.title|title }}</h2>
                        <small class="text-muted">{{ blog.category }}</small>
                        <p class="card-text">{{ blog.content|truncatechars:200 }}</p>
                        <div class="row m-1">
                            <div class="col-md-4 col-sm-12"><span><i class="fad fa-eye"></i>
                                    {{ blog.get_view_count }}</span></div>
                            <div class="col-md-4 col-sm-12"><span><i class="fad fa-thumbs-up"></i>
                                    {{ blog.get_like_count }}</span><br></div>
                            <div class="col-md-4 col-sm-12"><span><i class="fad fa-comments-alt"></i>
                                    {{ blog.get_comment_count }}</span></div>
                        </div>
            </a>
        </div>
        <div class="card-footer text-muted">
            Posted on: {{ blog.publish_date}} by <strong>{{ blog.author|title }}</strong>
        </div>


        {% endfor %}

        <div class="card my-4">
            <h5 class="aw card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            {% for blog in object_list %}

                            <li>
                                <a href="#">{{blog.category}}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        {% else %}
        <div id="about-pic">
            <div class="container about">
                <div class="overlay">
                    <div class="col p-4">
                        <p class="text-wht aw display-3 text-center">Focus Fitness</p>
                        <h3 class="text-wht text-center">We have no Blogs in this Categorry</h3>
                        <div class="row d-flex flex-row">
                            <div class="col-12">
                                <span>
                                    <a class=" my-2 w-100 text-wht aw px-4 btn btn-warning"
                                        href="{% url 'blog:list' %}">Back to Blogs</a>
                                </span>
                                <span>
                                    <a class="my-2 w-100 text-wht aw px-4 btn btn-success"
                                        href="{% url 'home' %}">Home</a>
                                </span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock content %}