{% extends "base.html" %}

{% block content %}
<div class="container-fluid bg-black">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a class="text-wht aw pl-2" href="{% url 'blog:list' %}">Blogs</a>
            <span class="mx-2 mb-0 text-wht">/</span>
            <strong class="text-wht aw">Blog</strong>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4 aw"> {{ object.title|title }}</h1>

            <!-- Author -->
            <p class="lead">
                by: {{ object.author|title }}
            </p>

            <hr>

            <!-- Date/Time -->
            <span><i class="px-2 fad fa-comments-alt"></i> {{ object.get_comment_count }}</span>
            <span><i class="px-2 fad fa-eye"></i> {{ object.get_view_count }}</span>
            <span><i class="px-2 fad fa-thumbs-up"></i> {{ object.get_like_count }}</span>
            <span class="text-mute float-right">Posted: {{ object.publish_date|timesince }}</span>


            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ object.thumbnail.url }}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">{{ object.content }}</p>
            <hr>
            <p class="">If you like the Post, give it a
                <a class="text-muted" href="{{ object.get_like_url }}">
                    <i class="pl-2 fad fa-thumbs-up fa-lg"></i>
                    {{ object.get_like_count }}
                </a>

            </p>
            <hr>
            <small class="text-muted">First Posted on the {{ object.publish_date}}</small>
            <hr>
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}