{% extends "base.html" %}


{% load static %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}"> -->
{% endblock %}


{% block content %}


<div class="container-fluid bg-black">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a class="text-wht aw" href="{% url 'home' %}">Home</a>

        </div>
    </div>
</div>

<!-- <div class="container-cart"> -->
<!-- <div class="container product-overlay"> -->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="aw mb-4 text-center">
                Thank you
            </h2>
            <p class="text-center ">A confirmation email has been sent to {{  order.email }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7"></div>
    </div>
</div>


{% endblock content %}