{% load static %}


<div class="container-fluid bg-black">
    <div class="row ">
        <div class="col-md-12 mb-0  text-right">

            <div id="cart" class="mr-md-4">

                {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                <a href="/admin/">
                    <span class="aw text-wht" title="Admin Login"><i class="fad fa-sign-in-alt"></i>
                        <i class="fad fa-user-cog mr-4"></i>
                    </span>
                </a>
                {% else %}
                {% endif%}
                <a class="mr-3" href="{% url 'profile' %}">
                    <span class="aw text-wht" title="User Login">
                        <i class="fad fa-user-alt mr-1"></i>
                        {{ user.username|title }}
                    </span>
                </a>

                {% else %}
                <span class="aw text-wht">
                    <i class="fad fa-user-alt"></i>

                </span>
                <a class="aw text-wht" href="{% url 'account_login' %}" title="User Login">
                    &nbsp;Login</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <a class="aw text-wht" href="{% url 'account_signup' %}" title="Registration Form"> &nbsp;Sign up</a>

                {% endif %}


                <a href="{% url 'cart_view' %}" class="site-cart ">

                    <span><i class="fad fa-shopping-cart text-wht " title="Go to CheckOut"></i></span>

                    <span title="Go to CheckOut"
                        class=" {% if grand_total %} text-grn {% else %} text-wht {% endif %}aw text-wht">
                        {% if grand_total %}
                        <span class="mont_b">$ </span>{{ grand_total|floatformat:2 }}
                        {% else %}
                        <small>Empty</small>
                        {% endif %}
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>