{% load static %}


<div class="container-fluid bg-black">
    <div class="row ">
        <div class="col-md-12 mb-0  text-right">

            <div id="cart" class="mr-md-4">

                {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                <a href="">
                    <span class="aw text-wht">
                        <i class="fad fa-user-cog"></i>
                        Admin Login
                    </span>
                </a>
                {% else %}
                {% endif%}
                <a href="{% url 'profile' %}">
                    <span class="aw text-wht">
                        <i class="fad fa-user-alt"></i>
                        &nbsp;{{ user.username|title }}
                    </span>
                </a>

                {% else %}
                <span class="aw text-wht">
                    <i class="fad fa-user-alt"></i>

                </span>
                <a class="aw text-wht" href="{% url 'account_login' %}"> &nbsp;Login</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <a class="aw text-wht" href="{% url 'account_signup' %}"> &nbsp;Sign up</a>

                {% endif %}


                <a href="{% url 'cart_view' %}" class="site-cart ">
                    <span><i class="fad fa-shopping-cart text-wht"></i></span>

                    <span class="{% if grand_total %} text-grn {% else %} text-wht {% endif %}aw text-wht">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>