{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid bg-black fixed-top crumbs">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
            <span class="mx-2 mb-0 text-wht">/</span>
            <strong class="text-wht aw">Dashboard</strong>
        </div>
    </div>
</div>
<div id="profile-pic">
    <div class="container profile">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center"> {{ user.username|title }} Dashboard</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12  bg-black-a rounded-15">
                    <a href="{% url 'profile_details' %}">
                        <h5 class="aw text-wht text-center">Shipping Details &<br>Order History</h5>
                    </a>
                    <div class="profile-overlay">
                    </div>
                </div>
                <div class="col-md-3 col-12  bg-black-a rounded-15  align-items-center">
                    <h5 class="aw text-wht text-center">Subscriptions</h5>
                    <a href="{% url 'profile_subscriptions' %}">
                        <p class="aw text-wht text-center">{{ user_membership.membership.membership_type }}</p>
                    </a>
                    <div class="profile-overlay"></div>
                </div>
                <div class="col-md-3 col-12  bg-black-a rounded-15">
                    <h5 class="aw text-wht text-center">Favour Blogs</h5>
                    <div class="profile-overlay"></div>
                </div>
                <div class="col-md-3 col-12  bg-black-a rounded-15">

                    <h5 class="aw text-primary text-center">Order History</h5>
                    <!--This the place for for orsers history -->
                    <div class="profile-overlay border border-white">
                        {% for order in orders %}
                        <div class=" p-2 table-responsive">
                            <table class="table table-sm table-borderless text-wht">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date|date:"D d M Y" }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                <li class="small">
                                                    {% for item in order.lineitems.all %}
                                                    {{ item.product.name}} x {{ item.quantity }}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>{{ order.grand_total }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}