{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid bg-black">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a class="text-wht aw pl-2" href="{% url 'home' %}">Home</a>
            <span class="mx-2 mb-0 text-wht">/</span>
            <strong class="text-wht aw">Dashboard</strong>
        </div>
    </div>
</div>
<div id="profile-pic">
    <div class="container profile">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center"> {{ user.username }} Dashboard</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12  bg-black-a rounded-15">
                    <a href="{% url 'profile_details' %}">
                        <h5 class="aw text-wht text-center">Shipping Details &<br>Order History</h5>
                    </a>
                    <div class="profile-overlay">
                    </div>
                </div>
                <div class="col-md-4 col-12  bg-black-a rounded-15">
                    <h5 class="aw text-wht text-center">Favour Blogs</h5>
                    <div class="profile-overlay"></div>
                </div>
                <div class="col-md-4 col-12  bg-black-a rounded-15">
                    <h5 class="aw text-wht text-center">My Blogs</h5>
                    <div class="profile-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}