{% extends "base.html" %}
{% load static %}


{% block content %}

<div id="profile-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'profile' %}">Dashboard</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">Memberships</small>
            </div>
        </div>
    </div>
    <div class="container profile">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center">Select a Membership</h4>
            </div>
        </div>
        <div class="row pb-5">
            {% for object in object_list %}
            <div class="col-sm-6 col-md-6 bg-black-a rounded-15 p-2 pb-4">

                <h1
                    class="text-center aw {% if not forloop.counter|divisibleby:2  %} text-grn {% else %} text-ylw {% endif %} ">
                    {{ object.membership_type }}</h1>
                <p class="text-center aw text-wht">Price: ${{ object.price }}<small>/month</small></p>
                <h4 class="text-center aw text-wht">Inclueds</h4>
                <h5 class="aw text-wht">User DashBoard</h5>
                <h5 class="aw text-wht">Blogs:</h5>
                <ul>
                    <li class="aw text-wht">Writing blogs</li>
                    <li class="aw text-wht">Blogs comments</li>
                </ul>
                <h5 class="aw text-wht">Focus Programs</h5>
                <ul>

                    {% for program in object.program_set.all %}
                    <li class="aw text-wht">{{ program.title }}</li>

                    {% endfor %}
                </ul>
                <hr>
                {% if object.membership_type != 'Free' %}
                <form action="{% url 'memberships:select-membership' %}" method="POST">
                    {% csrf_token %}

                    {% if object.membership_type != current_membership %}
                    <div class="row justify-content-center">
                        <button class=" aw w-75 text-wht btn btn-success" type="submit">Select</button>
                    </div>

                    {% else %}
                    <p class="text-center aw text-wht">Your Currnet Membership</p>
                    {% endif %}
                    <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
                </form>
                {% else %}

                {% endif %}

            </div>
            {% endfor %}

        </div>




    </div>
</div>
{% endblock content %}