{% extends "base.html" %}
{% load static %}


{% block content %}

<div id="profile-pic">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'programs:list' %}">Programs</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">{{ object.title }}</small>
            </div>
        </div>
    </div>
    <div class="container profile">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center">{{ object.title }}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="pt-2 col-md-8 col-12  bg-black-a rounded-15">
                    <p class="text-wht">{{ object.description }}</p>
                </div>
                <div class="pt-2 col-md-4 col-12  bg-black-a rounded-15">
                    <h4 class="text-center aw text-ylw">Workout Videos</h4><br>
                    <ul class="aw text-wht">
                        {% for workout in object.workouts %}
                        <li>
                            <a href="{{ workout.get_absolute_url }}">
                                <h5 class="aw text-wht ">{{ workout.title }}</h5>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>


                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}