{% extends "base.html" %}
{% load static %}

{% block head_title %} - Programs | {{ programs.title }} {% endblock head_title %}

{% block content %}

<div id="profile-pic">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'programs:list' %}">Programs</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">{{ programs.title }}</small>
            </div>
        </div>
    </div>
    <div class="container profile">
        <div class="profile-overlay">
            <div class="col p-4">
                <h4 class="text-wht aw display-4 text-center">{{ programs.title }}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="text-wht pt-2 col-md-7 col-12  bg-black-a rounded-15">
                    <p>{{ programs.description|safe }}</p>
                </div>
                <div class=" pt-2 col-md-5 col-12 bg-black-a rounded-15">
                    <h4 class="text-center aw text-ylw">{{ programs.title }} Videos</h4><br>
                    {% for workout in programs.workouts %}
                    <div class="row">
                        <div class="col-2 center-block">
                            <a href="{{ workout.get_absolute_url }}">
                                <img src="https://img.icons8.com/fluent/48/000000/circled-play.png" alt="circled" />
                            </a>
                        </div>
                        <div class="col-10">
                            <a href="{{ workout.get_absolute_url }}">
                                <h5 class="aw text-wht ">{{ workout.title }}</h5>
                                <small class="text-muted">{{ workout.description }}</small>
                            </a>
                        </div>
                        <hr class="hr-gry">
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}