{% extends "base.html" %}
{% load static %}

{% block head_title %} - Programs | {{ object.title }} {% endblock head_title %}

{% block content %}

<div id="profile-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'programs:list' %}">Programs</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                <small class="text-wht aw">{{ object.title }}</small>
            </div>
        </div>
    </div>
    <div class="container profile">
        <div class="alpha-overlay">
            <div class="col p-4">
                <h1 class="text-wht aw text-center">{{ object.title }}</h1>

                {% if object is not None %}

                <p class="aw text-wht">{{ object.description }}</p>

                <video class="mx-auto video-width" autoplay controls>
                    <source src="{{ object.video_url }}" type="video/mp4">
                </video>


            </div>
            {% else %}

            <div class="col p-4 ">
                <h2 class="text-wht aw display-4 text-center">Upgrade membership</h2><br>
                <h4 class="text-wht text-center">Please Upgrade Your Membership to View</h4>
                <div class="row d-flex flex-row">
                    <div class="col-12">
                        <span>
                            <a class=" my-2 w-100 text-wht aw px-4 btn btn-success"
                                href="{% url 'memberships:select-membership' %}">Select Membership </a>
                        </span>
                        <span>
                            <a class="my-2 w-100 text-wht aw px-4 btn btn-primary" href="{% url 'home' %}">Home</a>
                        </span>

                    </div>

                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}